* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-image: url(pokemon_fire_ball.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}
.main img {
    width: 165px;
    height: 150px;
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 41px;
    padding: 0px 0px 45px 0px;
}
.name span {
    color: white;
    padding: 0 0 0 5px;
} 
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.parent {
    width: 20%;
    background-color: rgba(250, 250, 250, 0.662);
    border-radius: 12px;
    padding: 15px;
    text-align: center;

}
.parent:hover {
    transform: scale(1.05);
}
.parent img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.parent h1 {
    font-size: 18px;
    margin: 5px 0;
    color: rgb(52, 23, 23);
}
.parent p {
    font-size: 14px;
    color: rgb(59, 59, 59);
}
#loadMore {
    position: fixed;
    right: 8px;
    bottom: 22px;
    padding: 10px 20px;
    font-size: 16px;      
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
#loadMore:hover {
    background-color: white;
    color: red;
}